DB_HOST=localhost
DB_NAME=redreport
DB_USER=root
DB_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@redreport.com
SMTP_FROM_NAME=RedReport
APP_URL=
APP_NAME=RedReport
APP_ENV=production
APP_DEBUG=false
API_KEY=
